.Env_Listing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Env_MainContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #e7e7e7;
  margin-top: 1rem;
}

.Env_MainContainer:last-child {
  border-bottom: none;
}

.Env_Name {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.Env_Link {
  text-decoration: none;

  color: inherit;
}

.Env_Link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .Env_Name {
    text-align: start;
    font-size: 1rem;
  }

  .Env_Listing {
    flex-direction: column;
  }

  .Env_MainContainer {
    /* padding: 2rem; */
    margin: 1rem auto;
    padding-top: 0rem;
  }
}
